<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Alta de tickets</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4 class="panel-heading header">Informacion General</h4>
        </div>
    </div>
    <form action="" class="form-horizontal">
        <div class="col-md-6">
            <div class="form-group form-group-sm">
                <div class="col-md-4">
                    <label class="control-label" for="modulo">Modulo</label>
                </div>
                <div class="col-md-8">
                    <select name="modulo" id="moduloId" class="form-control text-align-center input-sm">
                    <option value="1">Seleccione una opción</option>
                </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-md-4">
                    <label class="control-label" for="modulo">SubModulo</label>
                </div>
                <div class="col-md-8">
                    <select name="subModulo" id="subModuloId" class="form-control text-align-center input-sm">
                    <option value="1">Seleccione una opción</option>
                </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-md-4">
                    <label class="control-label" for="modulo">Tipo de Movimiento</label>
                </div>
                <div class="col-md-8">
                    <select name="tipoMovimiento" id="tipoMovimientoId" class="form-control text-align-center input-sm">
                    <option value="1">Seleccione una opción</option>
                </select>
                </div>
            </div>
            <!--<div class="form-group form-group-sm">
                <div class="col-md-4">
                    <label class="control-label" for="modulo">Programa</label>
                </div>
                <div class="col-md-8">
                    <select name="tipoMovimiento" id="tipoMovimientoId" class="form-control text-align-center input-sm">
                    <option value="1">Seleccione una opción</option>
                </select>
                </div>
            </div>-->
            <!--<div class="form-group form-group-sm">
                <div class="col-md-4">
                    <label class="control-label" for="modulo">Referencia SISE</label>
                </div>
                <div class="col-md-8">
                    <select name="tipoMovimiento" id="tipoMovimientoId" class="form-control text-align-center input-sm">
                    <option value="1">Seleccione una opción</option>
                </select>
                </div>
            </div>-->
        </div>
        <div class="col-md-7">
            <div class="form-group form-group-sm">
                <div class="col-md-4">
                    <label class="control-label" for="modulo">Detalle</label>
                </div>
                <div class="col-md-9">
                    <textarea class="form-control" rows="2"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>